rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Helpers
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isPetugas() {
      // Check if user has "petugas" role
      return isAuthenticated() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'petugas';
    }

    // Parking Areas
    match /parkir_areas/{area} {
      allow read: if isAuthenticated();
      allow write: if isPetugas();
    }
    
    // Parking Logs
    match /parkir_logs/{log} {
      allow read: if isAuthenticated();
      allow write: if isPetugas();
    }

    // Users (Mahasiswa / Petugas)
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && request.auth.uid == userId;
    }
  }
}
